<h1>Add a new photo</h1>
<form action="/create_photo" class="form-horizontal">
  <p><label for="image_url">Image URL
  </label>
  <input type = "text" name="image_url" id="image_url"></p>

    <p><label for="image_caption">Caption
    </label>
    <input type = "text" name="image_caption" id="image_caption"></p>

<button>Create Photo</button>

</form>
