<h1>Photo Details</h1>


<p>

<%= @photo.caption %>

</p>

<img src="<%= @photo.source  %>">

<p>


</p>

<p>

<a class="btn btn-default" href="/photos" role="button">Go Back</a>
<a class="btn btn-default" href="#" role="button">Edit</a>
<a class="btn btn-default" href="#" role="button">Delete</a>

</p>
